@import url("http://fonts.cdnfonts.com/css/sofia-pro");
:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sofia Pro", sans-serif;
}

header {
  margin-top: 0.5rem;
}
header nav {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}
header nav img {
  width: 5rem;
}
header nav button {
  margin-left: 4rem;
  border: 1px solid #F54748;
  border-radius: 1rem;
  background-color: #F54748;
  color: white;
  cursor: pointer;
  height: 2rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.hide {
  display: none;
}

.content {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  margin-top: 20%;
  color: rgb(17, 19, 19);
  font-weight: 700;
  font-size: 20px;
  font-family: poppins, sans-serif;
}

@media screen and (min-width: 600px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }

  .content {
    display: block;
    text-align: center;
    margin-left: 15px;
  }
}
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.banner .titulo .fav {
  align-items: center;
  background-color: #f3dfdf;
  border-radius: 0.5rem;
  color: black;
  display: flex;
  font-size: 0.8rem;
  height: 1.3rem;
  width: 7.3rem;
}
.banner .titulo .fav img {
  margin-left: 0.3rem;
  width: 1rem;
}
.banner .titulo h1 {
  margin-top: 1rem;
  font-size: 4.5rem;
}
.banner .titulo h1 .tituloRojo {
  color: #F54748;
}
.banner .titulo h1 .tituloAmarillo {
  color: #FDC55E;
}
.banner .titulo p {
  margin-top: 1rem;
  width: 50%;
}
.banner .titulo input {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-size: 2.1rem;
  background-position-y: 0.1rem;
  border: 1px solid rgb(126, 125, 125);
  border-radius: 1.5rem;
  margin-top: 1rem;
  height: 2.5rem;
  width: 70%;
}
.banner .titulo .botones {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.banner .titulo .botones .descarga {
  border: 1px solid #F54748;
  border-radius: 1rem;
  background-color: #F54748;
  color: white;
  cursor: pointer;
  height: 2rem;
}
.banner .titulo .botones img {
  cursor: pointer;
  margin-top: 1.5rem;
  width: 6rem;
}
.banner .titulo .botones span {
  opacity: 0.6;
}
.banner .imagen img {
  margin-top: -9rem;
  width: 30rem;
}

@media (min-width: 900px) {
  .banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
  }
  .banner .titulo {
    width: 50%;
  }
  .banner .titulo .fav {
    align-items: center;
    background-color: #f3dfdf;
    border-radius: 0.5rem;
    color: black;
    display: flex;
    font-size: 0.8rem;
    height: 1.3rem;
    width: 7.3rem;
  }
  .banner .titulo .fav img {
    margin-left: 0.3rem;
    width: 1rem;
  }
  .banner .titulo h1 {
    margin-top: 1rem;
    font-size: 4.5rem;
  }
  .banner .titulo h1 .tituloRojo {
    color: #F54748;
  }
  .banner .titulo h1 .tituloAmarillo {
    color: #FDC55E;
  }
  .banner .titulo p {
    margin-top: 1rem;
    width: 50%;
    opacity: 0.6;
  }
  .banner .titulo input {
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-size: 2.1rem;
    background-position-y: 0.1rem;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 1.5rem;
    margin-top: 1rem;
    height: 2.5rem;
    width: 70%;
  }
  .banner .titulo .botones {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  .banner .titulo .botones .descarga {
    border: 1px solid #F54748;
    border-radius: 1rem;
    background-color: #F54748;
    color: white;
    cursor: pointer;
    height: 2rem;
  }
  .banner .titulo .botones img {
    cursor: pointer;
    margin-top: 1.5rem;
    width: 6rem;
  }
  .banner .titulo .botones span {
    opacity: 0.6;
  }
  .banner .imagen img {
    margin-top: -9rem;
    width: 30rem;
  }
}
.ofertas {
  margin-top: 5rem;
  text-align: center;
}
.ofertas .tituloOferta h2 {
  font-size: 2.5rem;
}
.ofertas .tituloOferta .tituloRojo {
  color: #F54748;
}
.ofertas .tituloOferta p {
  text-align: center;
  opacity: 0.6;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}
.ofertas .productos {
  display: flex;
  flex-wrap: wrap;
}
.ofertas .productos .tarjeta {
  border-radius: 0.5rem;
  margin-right: 8rem;
  margin: 5rem auto;
  background: linear-gradient(to top, rgb(247, 209, 205), rgba(255, 255, 255, 0.164));
  width: 11.7rem;
}
.ofertas .productos .tarjeta .comida {
  margin-top: -4.5rem;
  width: 12rem;
}
.ofertas .productos .tarjeta .detalles {
  display: flex;
  justify-content: center;
  display: flex;
}
.ofertas .productos .tarjeta .detalles .users {
  width: 3rem;
}
.ofertas .productos .tarjeta .detalles .star {
  width: 1.5rem;
}
.ofertas .productos .tarjeta h3 {
  margin-left: 0.5rem;
  color: #F54748;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.ofertas .productos .tarjeta P {
  margin-left: 0.2rem;
  margin-bottom: 1rem;
  opacity: 0.7;
}
.ofertas .productos .tarjeta button {
  color: white;
  cursor: pointer;
  border-radius: 1rem;
  background-color: #F54748;
  border: 1px solid #F54748;
  padding: 0.5rem;
  margin-bottom: -1rem;
}

@media (min-width: 900px) {
  .ofertas {
    margin-top: 5rem;
    text-align: center;
  }
  .ofertas .tituloOferta h2 {
    font-size: 2.5rem;
  }
  .ofertas .tituloOferta .tituloRojo {
    color: #F54748;
  }
  .ofertas .tituloOferta p {
    text-align: center;
    opacity: 0.6;
    margin-top: 1rem;
    margin-left: 25%;
    margin-right: 25%;
  }
}
.servicios {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.servicios .chef img {
  width: 30rem;
}
.servicios .descripcion {
  margin-left: 0.5rem;
}
.servicios .descripcion h2 {
  margin-top: 7rem;
  font-size: 3rem;
  width: 85%;
}
.servicios .descripcion h2 .rojo {
  color: #F54748;
}
.servicios .descripcion h2 .amarillo {
  color: #FDC55E;
}
.servicios .descripcion p {
  margin-top: 1.5rem;
  opacity: 0.6;
  width: 90%;
}
.servicios .descripcion .servi {
  display: flex;
  flex-wrap: wrap;
}
.servicios .descripcion .servi div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.servicios .descripcion .servi img {
  margin-right: 0.5rem;
  width: 2rem;
}
.servicios .descripcion .servi span {
  margin-right: 8rem;
}
.servicios .descripcion button {
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 1rem;
  background-color: #F54748;
  border: 1px solid #F54748;
  border-radius: 1rem;
  padding: 0.5rem;
}

@media (min-width: 900px) {
  .servicios {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .servicios .chef img {
    width: 30rem;
  }
  .servicios .descripcion {
    margin-left: 4em;
    width: 50%;
  }
  .servicios .descripcion h2 {
    margin-top: 7rem;
    font-size: 3rem;
    width: 85%;
  }
  .servicios .descripcion h2 .rojo {
    color: #F54748;
  }
  .servicios .descripcion h2 .amarillo {
    color: #FDC55E;
  }
  .servicios .descripcion p {
    margin-top: 1.5rem;
    opacity: 0.6;
    width: 90%;
  }
  .servicios .descripcion .servi {
    display: flex;
    flex-wrap: wrap;
  }
  .servicios .descripcion .servi div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  .servicios .descripcion .servi img {
    margin-right: 0.5rem;
    width: 2rem;
  }
  .servicios .descripcion .servi span {
    margin-right: 8rem;
  }
  .servicios .descripcion button {
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #F54748;
    border: 1px solid #F54748;
    border-radius: 1rem;
    padding: 0.5rem;
  }
}
.tienda {
  text-align: center;
}
.tienda h2 {
  margin: 0 auto;
  font-size: 2rem;
}
.tienda h2 .rojo {
  color: #F54748;
}
.tienda h2 .amarillo {
  color: #FDC55E;
}
.tienda .categorias {
  margin-bottom: 2rem;
}
.tienda .categorias button {
  margin-top: 0.5rem;
  border: 1px solid #818181;
  cursor: pointer;
  color: #818181;
  border-radius: 1rem;
  padding: 0.4rem;
  margin-right: 1.5rem;
}
.tienda .categorias .active {
  background-color: #F54748;
  margin-top: 0.5rem;
  border: 1px solid #F54748;
  cursor: pointer;
  color: white;
  border-radius: 1rem;
  padding: 0.4rem;
  margin-right: 1.5rem;
}
.tienda .categorias button:hover {
  background-color: #F54748;
  color: white;
  border-radius: 1rem;
  border: 1px solid #F54748;
  padding: 0.4rem;
}
.tienda .comidas {
  display: flex;
  flex-wrap: wrap;
}
.tienda .comidas .tarjet {
  border-radius: 0.5rem;
  margin-right: 8rem;
  margin: 5rem 5%;
  background: linear-gradient(to top, rgb(247, 209, 205), rgba(255, 255, 255, 0.164));
  width: 11.7rem;
}
.tienda .comidas .tarjet .comid {
  margin-top: -4.7rem;
  width: 12rem;
}
.tienda .comidas .tarjet .detalle {
  display: flex;
  justify-content: center;
  display: flex;
}
.tienda .comidas .tarjet .detalle .user {
  width: 3rem;
}
.tienda .comidas .tarjet .detalle .sta {
  width: 1.5rem;
}
.tienda .comidas .tarjet h3 {
  margin-left: 0.5rem;
  color: #F54748;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.tienda .comidas .tarjet P {
  margin-left: 0.2rem;
  margin-bottom: 1rem;
  opacity: 0.6;
}
.tienda .comidas .tarjet button {
  color: white;
  cursor: pointer;
  border-radius: 1rem;
  background-color: #F54748;
  border: 1px solid #F54748;
  padding: 0.5rem;
  margin-bottom: -1em;
}

@media (min-width: 900px) {
  .tienda {
    text-align: center;
    margin-top: 6rem;
  }
  .tienda h2 {
    margin: 2rem auto;
    width: 35%;
    font-size: 2rem;
  }
  .tienda h2 .rojo {
    color: #F54748;
  }
  .tienda h2 .amarillo {
    color: #FDC55E;
  }
  .tienda .categorias {
    margin-bottom: 2rem;
  }
  .tienda .categorias button {
    background-color: white;
    border: 0.1rem solid #818181;
    cursor: pointer;
    color: #818181;
    border-radius: 1rem;
    padding: 0.4rem;
    margin-right: 1.5rem;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0rem 5%;
  margin-bottom: 1rem;
}
footer h3 {
  color: #F54748;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
footer span {
  margin-top: 1rem;
}
footer p {
  margin-top: 1rem;
  width: 15rem;
}
footer img {
  margin-top: 1rem;
  width: 7rem;
}
footer input {
  background-color: #d1d1d1;
  height: 2.5rem;
  border-radius: 1.5rem;
  border: none;
  margin-top: 1.5rem;
}
footer button {
  background-color: #F54748;
  color: white;
  padding: 0.6rem;
  border: 1px solid #F54748;
  border-radius: 1rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
